In [2]:
import pandas as pd
import numpy as np
import sklearn as sk

In [3]:
data = pd.read_csv('US_Accidents_March23.csv')
data.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [8]:
def percent_na(x):
    na_val = 0
    for val in x:
        if pd.isna(val):
            na_val += 1
    return na_val/len(x)

for feature in data.columns:
    null_per = percent_na(data[feature])
    print("%s: %5.4f"%(feature, null_per))

ID: 0.0000
Source: 0.0000
Severity: 0.0000
Start_Time: 0.0000
End_Time: 0.0000
Start_Lat: 0.0000
Start_Lng: 0.0000
End_Lat: 0.4403
End_Lng: 0.4403
Distance(mi): 0.0000
Description: 0.0000
Street: 0.0014
City: 0.0000
County: 0.0000
State: 0.0000
Zipcode: 0.0002
Country: 0.0000
Timezone: 0.0010
Airport_Code: 0.0029
Weather_Timestamp: 0.0156
Temperature(F): 0.0212
Wind_Chill(F): 0.2587
Humidity(%): 0.0225
Pressure(in): 0.0182
Visibility(mi): 0.0229
Wind_Direction: 0.0227
Wind_Speed(mph): 0.0739
Precipitation(in): 0.2851
Weather_Condition: 0.0224
Amenity: 0.0000
Bump: 0.0000
Crossing: 0.0000
Give_Way: 0.0000
Junction: 0.0000
No_Exit: 0.0000
Railway: 0.0000
Roundabout: 0.0000
Station: 0.0000
Stop: 0.0000
Traffic_Calming: 0.0000
Traffic_Signal: 0.0000
Turning_Loop: 0.0000
Sunrise_Sunset: 0.0030
Civil_Twilight: 0.0030
Nautical_Twilight: 0.0030
Astronomical_Twilight: 0.0030

In [4]:
street_names = data['Street'].unique()
len(street_names)

336307

In [5]:
data.sort_values(by = ['Street'])

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
4639475,A-4674670,Source1,2,2022-08-10 18:57:00,2022-08-10 21:05:09,36.327977,-119.484211,36.327883,-119.481551,0.148,...,False,False,False,False,False,False,Day,Day,Day,Day
5146528,A-5185559,Source1,2,2022-08-10 18:57:00,2022-08-10 20:14:57,36.327977,-119.484211,36.327883,-119.481551,0.148,...,False,False,False,False,False,False,Day,Day,Day,Day
4818499,A-4855064,Source1,2,2022-01-12 18:56:00,2022-01-12 21:03:27,36.328280,-119.484208,36.327977,-119.484211,0.021,...,False,False,False,False,False,False,Night,Night,Night,Night
5323141,A-5363577,Source1,2,2022-01-12 18:46:00.000000,2022-01-12 21:05:05.000000,36.328280,-119.484208,36.327977,-119.484211,0.021,...,False,False,False,False,False,False,Night,Night,Night,Night
3617230,A-3627113,Source1,4,2017-06-05 18:55:51,2017-06-06 00:55:51,43.568449,-85.960025,43.568450,-85.959890,0.007,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6928152,A-6977455,Source1,2,2020-10-31 03:32:00,2020-10-31 06:47:19,25.851613,-80.208145,25.844353,-80.207065,0.506,...,False,False,False,False,False,False,Night,Night,Night,Night
7063579,A-7112911,Source1,2,2020-03-12 13:34:00,2020-03-12 15:07:28,34.011977,-117.443303,34.011977,-117.443303,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
7588503,A-7637871,Source1,2,2018-01-25 21:23:32,2018-01-26 03:23:32,39.420444,-76.643656,39.419341,-76.641375,0.144,...,False,False,False,False,False,False,Night,Night,Night,Night
7601453,A-7650821,Source1,2,2017-12-20 17:47:52,2017-12-20 18:17:52,32.840287,-79.860482,32.839979,-79.861404,0.058,...,False,False,False,False,True,False,NaN,NaN,NaN,NaN
7633451,A-7682819,Source1,4,2017-09-14 09:39:14,2017-09-14 15:39:14,38.302610,-121.316910,38.303170,-121.318060,0.073,...,False,False,False,False,False,False,Day,Day,Day,Day

In [17]:
# Identify the street properties you want to check for consistency
street_properties = ['Street', 'Roundabout']

# Group the data by street name
grouped_data = data.groupby('Street')

hi